.movie {
    .movie-image {
        max-width: 30%;
        @include media-breakpoint-down(sm) {
            max-width: 100%;
        }
    }
    .movie-description {
        color: #a14b00;
        width: 300px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .movie-title {
        width: 45%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: #6b3200;
    }
}

.single-movie {
    .single-movie-image {
        max-width: 30%;
        @include media-breakpoint-down(sm) {
            max-width: 100%;
        }
    }
    .single-movie-description {
        color: #ff8d2a;
        border-color: #ffa04d83 !important;
    }
    .single-movie-title {
        color: #ff7700;
    }
}