.movie {
    .movie-image {
        max-width: 30%;
        @include media-breakpoint-down(sm) {
            max-width: 100%;
        }
    }
    .movie-description {
        color: gray("600");
        width: 300px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .movie-title {
        width: 45%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
